/* styles.css */

/* Container für die gesamte Seite */
.recipe-container {
    display: flex;
    justify-content: space-between;
    max-width: auto; /* Passe die maximale Breite nach Bedarf an */
    margin: 0 auto; /* Zentriere den Container auf der Seite */
}



/* Linke Seite (Anleitung) */
.recipe-instructions {
    flex: 3;
}

/* Rechte Seite (Bild und Zutaten) */
.recipe-image-ingredients {
    flex: 2;
   
    
}

/* Allgemeine Stildefinitionen für Bilder */
.image {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}


